body {
  background-size: cover;
  background-position: center;
  max-width: 1500px;  
  margin: 0 auto;  
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
}

.btn-outline-warning {
  color: black !important;  
  border-color: #ffc107 !important;  
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus {
  color: black !important;
  background-color: #FFB300 !important;
  border-color: #FFB300 !important;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f8f9fa; 
}

.btn-custom {
    color: black !important;               
    background-color: #ffc107 !important;   
    border-color: #ffc107 !important;       
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    color: black !important;
    background-color: #FFB300 !important;
    border-color: #FFB300 !important;
}
