body {
    background-size: cover;
    background-position: center;
    max-width: 1500px;
    margin: 0 auto;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.item:hover img {
    transform: scale(120%);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  color: #0d6efd;
}